# Arquivos do Node.js
node_modules
npm-debug.log
yarn-error.log

# Arquivos de desenvolvimento
.git
.gitignore
.DS_Store
.env.local
.env.development

# Arquivos de IDE
.idea
.vscode

# Build temporários
dist
build
coverage

# Testes
__tests__
jest.config.js

# Documentação
docs